:root {
  --primary: hsl(198, 21%, 32%);
  --secondary: hsla(210, 3%, 13%, 0.213);
  --text: rgb(210, 179, 179);
  --link: hsl(0, 44%, 29%);
  --shadow: 0 0 2rem 1rem;
}

* {
  margin: 0;
  padding: 0;
  /* border: 1px dotted blue; */
}

a {
  text-decoration: none;
  transition: 1s;
  color: inherit;
}

a:active, a:hover {
  color: var(--link);
  text-shadow: 0 0 .5rem var(--link);
}

/* index.html */
#index {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: var(--text);
  background: linear-gradient(var(--secondary), var(--primary));
  box-shadow: var(--shadow) var(--secondary) inset;
  font-variant: small-caps;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#index * {
  text-shadow: 0 0 .75rem var(--secondary);
}

#app-details {
  padding: 5vw;
  display: grid;
  grid-template-columns: 30% auto;
  gap: .75rem;
}

#app-details p, #app-details a {
  font-size: 1.25rem;
}

#title,
#get-started {
  grid-column: span 2;
}

/* typography */
#title {
  font-size: 2.75rem;
}

#code {
  text-align: end;
}

#get-started {
  text-align: center;
  background-color: var(--secondary);
  border-radius: .25rem;
  padding: .25rem;
}

/* html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.save-note {
  display: none;
}

.icons i {
  margin-left: 15px;
  margin-right: 15px;
  font-size: 1.5rem;
  cursor: pointer;
}

.note-textarea,
.note-title {
  color: #000000;
  width: 100%;
  outline: none;
  border: none;
}

.note-textarea {
  resize: none;
  height: calc(100% - 63px);
  padding-top: 15px;
}

.note-title {
  height: 50px;
  margin-top: 13px;
  font-size: 3rem;
}

.note-title:read-only,
.note-textarea:read-only {
  color: #757575;
}

.list-container .card {
  height: calc(100vh - 70px);
  border-bottom: none;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.list-container {
  padding-left: 0;
}

.list-container .list-group,
.list-container .list-group-item:first-child,
.list-container .card {
  border-top: none;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.list-item-title {
  display: inline-block;
  width: 75%;
}

.list-container i {
  font-size: 1.1rem;
  cursor: pointer;
}

.list-container .list-group-item {
  border-left: none;
  border-right: none;
  padding: 20px;
  cursor: pointer;
} */
