:root {
  --primary: hsl(198, 21%, 32%);
  --secondary: hsla(210, 3%, 13%, 0.213);
  --light-overlay: hsla(0, 0%, 100%, 0.25);
  --lighter: hsla(0, 100%, 96%, 0.75);
  --text: rgb(237, 219, 219);
  --dark-text: rgb(25, 25, 25);
  --link: hsl(0, 44%, 29%);
  --shadow: 0 0 2rem 1rem;
}

* {
  margin: 0;
  padding: 0;
  /* border: 1px dotted blue; */
}

html {
  height: 100vh;
}


a {
  text-decoration: none;
  transition: 1s;
  color: inherit;
}

a:active, a:hover {
  color: var(--link);
  text-shadow: 0 0 .5rem var(--link);
}

body {
  background: linear-gradient(var(--secondary), var(--primary));
  font-family: 'Abel', sans-serif;
  display: flex;
  flex-direction: column;
}

/* index.html */
#index {
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: var(--text);
  /* background: linear-gradient(var(--secondary), var(--primary)); */
  box-shadow: var(--shadow) var(--secondary) inset;
  font-variant: small-caps;
}

#index * {
  text-shadow: 0 0 .75rem var(--secondary);
}

#app-details {
  padding: 5vw;
  display: grid;
  grid-template-columns: auto auto;
  gap: .75rem;
}

#app-details p, #app-details a {
  font-size: 1.25rem;
}

#title,
#get-started {
  grid-column: span 2;
}

/* typography */
#title {
  font-size: 2.75rem;
}

#code {
  text-align: end;
}

#get-started {
  text-align: center;
  background-color: var(--secondary);
  border-radius: .25rem;
  padding: .25rem;
}

/* notes.html */

/* continue working on custom styles, less bootstrap */

textarea {
  background: var(--light-overlay);
}

#notes-body {
  height: 100%;
}

#header {
  background-color: var(--lighter);
  color: var(--dark-text);
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 9999;
  box-shadow: var(--shadow) var(--secondary);
}

.save-note {
  display: none;
}

.icons i {
  margin-left: 15px;
  margin-right: 15px;
  font-size: 1.5rem;
  cursor: pointer;
}

/* - left */
.card {
  background-color: transparent;
  border: none;
}

.list-group-item {
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: .25rem;
  margin: 1vh 0;
}

.note-textarea,
.note-title {
  color: var(--dark-text);
  width: 100%;
  outline: none;
  padding: 1rem .5rem;
  border: none;
}

.note-textarea {
  resize: none;
  height: calc(100% - 63px);
  padding-top: 15px;
  border-radius: 0 0 1rem 1rem;
}

.note-title {
  height: 50px;
  margin-top: 13px;
  font-size: 3rem;
  border-radius: 1rem 1rem 0 0 ;
}

.note-title,
.list-group-item {
  background: var(--lighter);
}

.note-title:read-only,
.note-textarea:read-only {
  color: #757575;
}

.list-container .card {
  height: calc(100vh - 70px);
  border-bottom: none;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.list-container {
  padding-left: 0;
}

.list-container .list-group,
.list-container .list-group-item:first-child,
.list-container .card {
  border-top: none;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.list-item-title {
  display: inline-block;
  width: 75%;
}

.list-container i {
  font-size: 1.1rem;
  cursor: pointer;
}

.list-container .list-group-item {
  border-left: none;
  border-right: none;
  padding: 20px;
  cursor: pointer;
}

/* typography */
.navbar-dark .navbar-brand {
  color: var(--dark-text);
  font-size: 1.25rem;
}